In [2]:

import pandas as pd

In [19]:
world = [
    ('Afghanistan','Asia',652230,25500100,20343000000),
    ('Albania','Europe',	28748,2831741,12960000000),
    ('Algeria','Afriac',2381741	,37100000,188681000000),
    ('Andorra','Europe',468,78115,3712000000),
    ('Angoloa','Afirca',1246700,20609294,100990000000)]

In [24]:
df=pd.DataFrame(data = world, columns=['name','continent','area','population','gdp'])
df

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Afriac  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4      Angoloa    Afirca  1246700    20609294  100990000000

In [ ]:
df.dropna(subset ='')

In [60]:
big_countries = df[(df['population'] >= 25000000) | (df['area'] >= 3000000)]

In [61]:
result = big_countries[['name', 'population', 'area']]
print(result)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741