In [17]:
2+2

4

# Heading 1
## heading 2
#### Heading 4
* bullet point 1
* bullet point 2
This is an MD cell

In [35]:
num1 = 10
num2 = 5
total = num1 + num2

In [36]:
var1=5*2+4
str1 = 'st python tutorial'
str1
print(str1)
x ='R'
print('st {} tutorial'.format(x))
x='SQL' 
print('st {} tutorial {}'.format(x,var1))
len(str1)
str1.replace('python','SQL')
x = str1.replace('python','SQL')
x[1]
x[4:6]
type(var1)
type(x)

list

st python tutorial
st R tutorial
st SQL tutorial 14

list

In [78]:
l1=[1,2,3,4,5]
type(l1)
print(l1)
l1[0]
l1[0:3]
l1[::2]
l2 =[1,'a',1.0]
type(l2[0])
type(l2[1])
l3=[l2,1,2.0]
print(l3)
type(l3[0])
l3[0][1]
l4 = list(range(0,10,2))
l4.sort(reverse= True)
l4.append(10)
l4[0]=3
l4[1:3]=[5,7]
l4.insert(0,'15')
l4
l4.remove(3)
l4
del l4[0]
l4

[1, 2, 3, 4, 5]
[[1, 'a', 1.0], 1, 2.0]

[5, 7, 2, 0, 10]

Tuples

In [5]:
t1=(1,2)
t1
type(t1)

tuple

Dictionary

In [87]:
d1={'key1': 1,
    'key2': 2,
    'key3': 3}
d1
type(d1)
d1['key1']

1